name: Publish

on:
    release:
        types: [published]

jobs:
    publish:
        name: Publish
        runs-on: ubuntu-latest

        permissions:
            contents: read
            id-token: write

        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Set up Rust toolchain
              uses: actions-rust-lang/setup-rust-toolchain@v1

            - name: Install Cargo Binary Install
              uses: cargo-bins/cargo-binstall@main

            - name: Install crates
              run: cargo binstall --force -y cargo-workspaces

            - uses: rust-lang/crates-io-auth-action@v1
              id: auth

            - name: Publish
              run: cargo workspaces publish --publish-as-is
              env:
                  CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
